#card-filetree .card .node {
    width: 100%;
    height: 20px;
    background-color: #22252a;

    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}

#card-filetree .card .node:hover {
    background-color: #343841;
}

#card-filetree .card .node span.arrow {
    width: 15px;
    height: 15px;
    background: url("../../../res/icon/arrow_right.svg") center / cover no-repeat;
}