.resizer {
    background-color: transparent;
    transition: background-color 200ms ease-in;
}
.resizer:hover {
    background-color: #808080a0;
}

.resizer.hrz {
    width: 6px;
    height: 100%;
    margin-left: -3px;
    cursor: ew-resize;
}
.resizer.vtc {
    width: 100%;
    height: 6px;
    margin-top: -3px;
    cursor: ns-resize;
}