@import url("../panels/panels.css");
@import url("../comp/resizer/resizer.css");
@import url("../comp/editor/editor.css");
@import url("../comp/filetree/filetree.css");

* {
    margin: 0;
    color: #adb2be;
}
:not(input, textarea)::selection {
    background-color: transparent;
}

.hidden {
    display: none;
}

textarea::selection {
    background-color: rgba(255, 255, 255, 0.2);
}

body {
    background-color: #292c33;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: nowrap;
}

span.logo {
    width: 20px;
    height: 20px;
    background-image: url("../../favicon.ico");
    background-size: contain;
}

#header {
    height: 25px;
    background-color: #292c33;
    border-bottom: #444 1px solid;
    display: flex;
    align-items: center;
    padding: 5px;
}
#footer {
    height: 22px;
    background-color: #22252a;
    border-top: #444 1px solid;
}
#main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#header p {
    padding: 0 10px;
}

#main #sidebar {
    width: 48px;
    height: 100%;
    background-color: #292c33;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sidebar .up-box {
    display: flex;
    flex-direction: column;
}
#sidebar .bottom-box {
    display: flex;
    flex-direction: column-reverse;
}
.section {
    width: 48px;
    height: 50px;
    box-sizing: border-box;
    border-left: 2px solid transparent;
}
.section div {
    width: 100%;
    height: 100%;
    mask: url() center / 64% no-repeat;
    background-color: #6f7178;
}
.section:hover div {
    background-color: white;
}
.section[data-focus="1"] {
    border-left-color: white;
}
.section[data-focus="1"] div {
    background-color: white;
}

#main #func {
    width: 250px;
    height: 100%;
    background-color: #22252a;
    position: relative;
    overflow-x: hidden;
}
#main #editor {
    /* flex-grow: 1; TO ABSOLUTIFY */
    width: calc(100% - 298px);
    height: 100%;
}